<main>
  <core-header
    [title]="bannerTitle"
    [titleSub]="'Recipes for Angular'"
    [height]="15"
    [withBorder]="false"
    [elevated]="false"
  >
  </core-header>

  <div id="content">
    <section id="header">
      <article>
        <div>
          <h1>Home : ) </h1>
          <p class="parag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur dolore eius
            enim esse eum expedita illo inventore iste itaque iure, laudantium, molestiae nesciunt, odio placeat quaerat
            sed tempore voluptas!</p>
        </div>
      </article>


    </section>


  </div>

</main>
