<core-header
  [title]="bannerTitle"
  [titleSub]="'Recipes for Angular'"
  [height]="15"
  [withBorder]="false"
  [elevated]="false"
>
</core-header>

<core-content>
  <section id="section-home-content">
    <core-paper
      [elevation]="8"
    >
       <mat-grid-list cols="1" rowHeight="55px">
         <mat-grid-tile>
           <h3>See all recipes!</h3>
         </mat-grid-tile>
          <mat-grid-tile>
             <a mat-raised-button color="primary" routerLink="/dashboard"> Go to Dashboard</a>
          </mat-grid-tile>
        </mat-grid-list>
    </core-paper>

  </section>
</core-content>


